{% extends 'shop/basic.html'%}
{% block title %} Contact{% endblock %}
{% block body%}
<div class="container mx-5">
    <h4>Contact us</h4>
<form action="/shop/contact/" method="post"> {% csrf_token %}

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>
    <div class="form-group">
    <label for="phone">Phone</label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
  </div>
    <div class="form-group">
    <label for="em">Email Address</label>
    <input type="email" class="form-control" id="em" name="email" placeholder="Enter your email">
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">How may I help you</label>
    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
{% block js%}
<script>
{% if thank %}
    alert("Thanks for Contacting us . We will get back to you soon.");

document.location="/shop/contact";
    {% endif %}
</script>
{% endblock %}